<h2 class="display-4">Operazione sul numero</h2>
<form class="form-group">

  <input type="number" name="numero1" class=" col-sm-2 form-control" #num1><br>
  <input type="number" name="numero2" class=" col-sm-2 form-control" #num2><br>
  <button (click)="somma(num1, num2)" class="btn btn-primary">+</button>
  <button (click)="sottrazione(num1, num2)" class="btn btn-primary">-</button>
  <button (click)="moltiplicaz(num1, num2)" class="btn btn-primary">*</button>
  <button (click)="divisione(num1, num2)" class="btn btn-primary">/</button>

</form>

<app-ris [tota]="tot" ></app-ris>

