<form [formGroup] = "myForm" class="jumbotron">
  <div class="form-group">
    <label for="a">Numero 1</label>
    <input type="number" class="form-control w-25" id="a" name="a" onfocus="this.value=''" [formControl]="myForm.controls['a']">
  </div>
  <div class="form-group">
    <label for="b">Numero 2</label>
    <input type="number" class="form-control w-25" id="b" name="b" onfocus="this.value=''" [formControl]="myForm.controls['b']">
  </div>
  <button type="button" class="btn btn-primary" (click) = "onSum()">+</button>
</form>



